# NAME - **SHIVRAJ NAKUM**

# ROLL NO. - 21BCP125

# DIV - 1 (G4)

QUESTION 1

---

In [1]:
mylist = ["apple", "banana", "cherry"]
mylist[1:3] = ["watermelon"]
print(mylist)

['apple', 'watermelon']

In [2]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(2, "watermelon")
print(mylist)

['apple', 'banana', 'watermelon', 'cherry']

In [3]:
mylist = ["apple", "banana", "cherry"]
mylist.append("orange")
print(mylist)

['apple', 'banana', 'cherry', 'orange']

In [4]:
mylist = ["apple", "banana", "cherry"]
morefruits = ["mango", "pineapple", "papaya"]
mylist.extend(morefruits)
print(mylist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [5]:
mylist = ["apple", "banana", "cherry"]
mytuple = ("kiwi", "orange")
mylist.extend(mytuple)
print(mylist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [6]:
mylist = ["apple", "banana", "cherry"]
mylist.remove("apple")
print(mylist)

['banana', 'cherry']

In [7]:
mylist = ["apple", "banana", "cherry"]
mylist.pop(1)
print(mylist)

['apple', 'cherry']

In [8]:
mylist = ["apple", "banana", "cherry"]
del mylist[0]
print(mylist)

['banana', 'cherry']

In [9]:
mylist = ["apple", "banana", "cherry"]
print(mylist)
#del mylist
# print(mylist)

['apple', 'banana', 'cherry']

In [10]:
mylist = ["apple", "banana", "cherry"]
mylist.clear()
print(mylist)

[]

In [11]:
mylist = ["apple", "banana", "cherry"]
for x in mylist:
  print(x)

apple
banana
cherry

In [12]:
mylist = ["apple", "banana", "cherry"]
i = 0
while i < len(mylist):
  print(mylist[i])
  i = i + 1

apple
banana
cherry

In [13]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
  if "a" in x:
   newlist.append(x)
   print(newlist)

['apple']
['apple', 'banana']
['apple', 'banana', 'mango']

In [14]:
items = ["apple", "banana", "carrot", "dragonfruit", "elephant"]
if "elephant" in items:
     a=items.index("elephant")
print(a+1)
newlist = ['hello' for x in items]
print(newlist)

5
['hello', 'hello', 'hello', 'hello', 'hello']

In [15]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [16]:
mytuple = ("apple", "banana", "cherry")
print(mytuple[1])

banana

In [17]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [18]:
mytuple = ("apple", "banana", "cherry")
for x in mytuple:
 
 print(x)

apple
banana
cherry

In [19]:
mytuple = ("apple", "banana", "cherry")
for i in range(len(mytuple)):

 print(mytuple[i])

apple
banana
cherry

In [20]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [21]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits *2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [22]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'cherry', 'banana'}

In [23]:
myset = {"apple", "banana", "cherry"}
for x in myset:

 print(x)

apple
cherry
banana

In [24]:
myset = {"apple", "banana", "cherry"}
myset.add("orange")
print(myset)

{'apple', 'cherry', 'banana', 'orange'}

In [25]:
myset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
myset.update(tropical)
print(myset)

{'apple', 'cherry', 'banana', 'papaya', 'mango', 'pineapple'}

In [26]:
myset = {"apple", "banana", "cherry"}
myset.remove("banana")
print(myset)

{'apple', 'cherry'}

In [27]:
myset = {"apple", "banana", "cherry"}
myset.discard("banana")
print(myset)

{'apple', 'cherry'}

In [28]:
myset = {"apple", "banana", "cherry"}
for x in myset:
 
 print(x)

apple
cherry
banana

In [29]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'a', 1, 'b', 2, 3, 'c'}

In [30]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [31]:
car={"brand": "Ford","model": "Mustang","year": 1964 }
x= car.keys()
print(x) #before the change
car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

#QUESTION 2

---

In [32]:
d={}
for i in range(1,11):
   adm_no=int(input("enter admission number of students"))
   name=input("enter name of student:")
   d[adm_no]=name

print("dictionaryis:",d)

enter admission number of students3
enter name of student:raj
enter admission number of students4
enter name of student:jason
enter admission number of students5
enter name of student:roy
enter admission number of students6
enter name of student:dev
enter admission number of students7
enter name of student:ram
enter admission number of students8
enter name of student:sita
enter admission number of students9
enter name of student:pratik
enter admission number of students10
enter name of student:ramesh
enter admission number of students11
enter name of student:suresh
enter admission number of students12
enter name of student:tony
dictionaryis: {3: 'raj', 4: 'jason', 5: 'roy', 6: 'dev', 7: 'ram', 8: 'sita', 9: 'pratik', 10: 'ramesh', 11: 'suresh', 12: 'tony'}