In [2]:
print("Take 2 float values to add, subtract, multiply and divide them and print their fractional representation")
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
sum = float(num1)+float(num2)
print("Sum of two number is ", sum)
sub = float(num1) - float(num2)
print("Sub of two number is", sub)
multi = float(num1) * float(num2)
print("Multi of two number is ", multi)
div = float(num1) / float(num2)
print("Div of two number is ", div)

Take 2 float values to add, subtract, multiply and divide them and print their fractional representation
Enter first number: 1.4
Enter second number: 1.5
Sum of two number is  2.9
Sub of two number is -0.10000000000000009
Multi of two number is  2.0999999999999996
Div of two number is  0.9333333333333332

In [3]:
print("Take 5 float values as input and print the min and max of them all")
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
num3 = input("Enter third number: ")
num4 = input("Enter fourth number: ")
num5 = input("Enter fifth number: ")
a = min(float(num1), float(num2), float(num3), float(num4), float(num5))
print("Min value:", a)
b = max(float(num1), float(num2), float(num3), float(num4), float(num5))
print("Max value:", b)

Take 5 float values as input and print the min and max of them all
Enter first number: 2.1
Enter second number: 2.4
Enter third number: 2.7
Enter fourth number: 3.5
Enter fifth number: 4.1
Min value: 2.1
Max value: 4.1

In [4]:
print("Print your name in uppercase, lowercase and titlecase")
c = input("Enter your name: ")
print(c.upper())
print(c.lower())
print(c.title())

Print your name in uppercase, lowercase and titlecase
Enter your name: shivraj
SHIVRAJ
shivraj
Shivraj